<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PollingDuplexHttpBinding_MDuplexService">
                    <!--    WsdlImporter обнаружил в ServiceDescription "http://tempuri.org/" нераспознанные утверждения политики:    -->
                    <!--    <wsdl:binding name='PollingDuplexHttpBinding_MDuplexService'>    -->
                    <!--        <netdx:Duplex xmlns:netdx="http://schemas.microsoft.com/2008/04/netduplex">..</netdx:Duplex>    -->
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </binaryMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://mns1-022n/mcode/MServiceD.svc" binding="customBinding"
                bindingConfiguration="PollingDuplexHttpBinding_MDuplexService"
                contract="MServiceD.MDuplexService" name="PollingDuplexHttpBinding_MDuplexService" />
        </client>
    </system.serviceModel>
</configuration>